


// ================================== @media =================================//

@media screen and (max-width: 1199px)
  .container
    padding 0
  .h-header__item
    font-size 13px
    margin-right 25px
  .h-header__logo .icon
    width: 156px;
    height: 70px;
  .h-header__logo
    margin-right 20px
  .h-header__title
    font-size 15px
  .c-contact-info__phone
    font-size 19px
  .c-contact-info__email
    font-size 15px
  .h-header__button-call
    font-size 15px
    min-width: 200px;
    height: 46px;
  .s-services__list
    padding 0 30px
  .s-services__item
    margin-bottom 30px
  section
    padding 30px
  .t-tour__form
    padding 0 30px
    padding-bottom 30px
  .s-services__item_title
    font-size 16px


@media screen and (max-width: 992px)
  .h-header__button-call
    size(50px)
    min-width 50px
    margin-right 15px
    span
      display none
    .icon
      display flex
  .h-header__mobile_menu
    display flex
    justify-content center
    align-items center
    background-color #ee2f2e
    border-radius 50%
    size(50px)
    .icon
      size(24px)
      fill #fff
  .h-header__bottom
    display none
  .m-mobile__menu
    position fixed
    display block
    left 0
    right 0
    bottom 0
    top 0
    z-index 20
    background-color #fff
    transform translateX(-100vw)
    transition ease .5s
  .m-mobile__menu.active
    transform translateX(0)
  .s-services__title
    font-size 30px
  .t-tour__title
    font-size 28px
    padding-bottom 35px
  .m-mobile__menu_top
    display flex
    justify-content space-between
    align-items center
    padding: 16px;
    border-bottom: 1px solid #f9a422;
  .m-mobile__menu_item
    display flex
    flex-direction column
    padding 20px
    font-family: 'Nunito 700', sans-serif;
    font-size: 13px;
    text-transform uppercase
    border-bottom  1px solid #c2c2c2
  .m-menu__depth1_submenu
    display none
    padding-left 30px
    margin-top 15px
  .m-menu__depth

    .icon
      size(22px)
  .m-menu__submenu_list
    display flex
    flex-direction column
  .m-menu__submenu_list_item
    margin-bottom 15px
    font-family: 'Nunito 400', sans-serif;
    font-size: 13px;
    &:last-child
      margin-bottom 0
  .t-tour__notification
    font-size 15px




@media screen and (max-width: 768px)
  .h-header__title
    display none
  .popup-title
    font-size 25px
@media screen and (max-width: 576px)
  .h-header__mobile_menu
    size(45px)
    .icon
      size(20px)
  .c-contact-info
    display none
  .t-tour__title
    display flex
    flex-direction column
    font-size 25px
    span
      margin-left 0
  .h-header__button-call
    size(45px)
    min-width 45px
    .icon
      size(20px)
  .h-header__logo .icon
    width: 130px;
    height: 61px;
  .h-header__top
    padding: 5px 16px;
  section
    padding 15px
  .s-services__list
    padding 0
  .t-tour__form
    padding 0 15px
    padding-bottom 10px
  .t-tour__select&:nth-child(1)
    .t-tour__select_field
      z-index 23
    .t-tour__list
      position relative
      z-index 22
  .t-tour__select&:nth-child(2)
    .t-tour__select_field
      z-index 21
    .t-tour__list
      position relative
      z-index 19








