//@font-face {
//  font-family: 'Nunito 400';
//  src: url('/static/fonts/NunitoSans-LightItalic.eot');
//  src: url('/static/fonts/NunitoSans-LightItalic.eot?#iefix') format('embedded-opentype'),
//          url('/static/fonts/NunitoSans-LightItalic.woff') format('woff'),
//          url('/static/fonts/NunitoSans-LightItalic.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}
@font-face {
  font-family: 'Nunito 400';
  src: url('/static/fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito 500';
  src: url('/static/fonts/Nunito-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito 600';
  src: url('/static/fonts/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito 700';
  src: url('/static/fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito 800';
  src: url('/static/fonts/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito 900';
  src: url('/static/fonts/Nunito-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito-Sans 900';
  src: url('/static/fonts/NunitoSans_10pt-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
