section.services
    .s-services.container
        .s-services__title Наши
            span Услуги
        .s-services__list.row
            .s-services__item.col-xl-3.col-md-3.col-sm-12
                img.s-services__item_img(src='/static/img/general/img1.png')
                .s-services__item_depth
                    .s-services__item_title
                        span Туры
                        +icon('arrow-down')
                    .s-services__steps_container
                        ul.s-services__steps
                            li.s-steps__item Гастрономические экскурсии
                            li.s-steps__item Мастер классы
                            li.s-steps__item Дегустация эксклюзивных напитков
            .s-services__item.col-xl-3.col-md-3.col-sm-12
                img.s-services__item_img(src='/static/img/general/img2.png')
                .s-services__item_depth
                    .s-services__item_title
                        span Экскурсии
                        +icon('arrow-down')
                    .s-services__steps_container
                        ul.s-services__steps
                            li.s-steps__item Гастрономические экскурсии
                            li.s-steps__item Мастер классы
                            li.s-steps__item Дегустация эксклюзивных напитков
            .s-services__item.col-xl-3.col-md-3.col-sm-12
                img.s-services__item_img(src='/static/img/general/img3.png')
                .s-services__item_depth
                    .s-services__item_title
                        span Проживание
                        +icon('arrow-down')
                    .s-services__steps_container
                        ul.s-services__steps
                            li.s-steps__item Гастрономические экскурсии
                            li.s-steps__item Мастер классы
                            li.s-steps__item Дегустация эксклюзивных напитков
            .s-services__item.col-xl-3.col-md-3.col-sm-12
                img.s-services__item_img(src='/static/img/general/img4.png')
                .s-services__item_depth
                    .s-services__item_title
                        span Ресторан
                        +icon('arrow-down')
                    .s-services__steps_container
                        ul.s-services__steps
                            li.s-steps__item Гастрономические экскурсии
                            li.s-steps__item Мастер классы
                            li.s-steps__item Дегустация эксклюзивных напитков





