section.tour
    .t-tour.container
        .t-tour__title Забронировать
            span авторский тур
        form.t-tour__form
            .t-tour__input_select.row
                .t-tour__select.t-tour__mb.col-xl-4.col-md-4.col-sm-12
                    .t-tour__select_field
                        span Выберите тур
                        +icon('arrow-down')
                    .t-tour__list_wrapper
                        .t-tour__list
                            .t-tour__item Тур 1
                            .t-tour__item Тур 2
                            .t-tour__item Тур 3
                            .t-tour__item Тур 1
                            .t-tour__item Тур 2
                            .t-tour__item Тур 3
                            .t-tour__item Тур 2
                            .t-tour__item Тур 3
                .t-tour__select.t-tour__mb.col-xl-4.col-md-4.col-sm-12
                    .t-tour__select_field
                        span Выберите экскурсию
                        +icon('arrow-down')
                    .t-tour__list_wrapper
                        .t-tour__list
                            .t-tour__item Тур 1
                            .t-tour__item Тур 2
                            .t-tour__item Тур 3
                .t-tour__select.t-tour__mb.col-xl-4.col-md-4.col-sm-12
                    .t-tour__select_field.t-tour__select_calendar
                        span.t-tour__data(data-toggle='datepicker') Выберите дату
                        +icon('calendar')
                .t-tour__input_wrap.t-tour__mb.col-xl-4.col-md-4.col-sm-12
                    input.t-tour__input(placeholder='Ваше имя')
                .t-tour__input_wrap.t-tour__mb.col-xl-4.col-md-4.col-sm-12
                    input.t-tour__input(placeholder='Номер телефона' data-mask='+7(000) 000 00 00')
                .t-tour__input_wrap.t-tour__mb.col-xl-4.col-md-4.col-sm-12
                    input.t-tour__input(placeholder='Электронная почта')
                .t-tour__input_wrap.t-tour__mb.col-xl-12.col-md-12.col-sm-12
                    textarea.t-tour__textarea(placeholder='Комментарий' cols='4' rows='5')
            button.t-tour__button(type='submit') Забронировать
            p.t-tour__notification Нажимая, вы даете согласие на обработку персональных данных.



